.workout-list li {
    text-align: right;
}

.workout-list strong {
    margin-left: 3px;
}

.client-workout-card {
    width: 33%;
    margin: auto;
}

.workout-list {
    padding: 0;
}

.workout-card-body {
    padding: 5px !important;
}

.client-workout-card {
    margin: auto;
}

.delete-button {
    width: 30px;
    height: 30px;
}

.list-group-item span {
    float: right;
}

.list-group-item button {
    margin-left: 5px;
    vertical-align: middle;
}

.navbar-brand span{
    font-size: 32px;
}