/* .workout-list li {
    text-align: right;
} */

.workout-list strong {
    margin-left: 3px;
}

.client-workout-card {
    width: 100%;
    margin: auto;
}

.workout-list {
    padding: 0;
}

.workout-card-body {
    padding: 5px !important;
}

.client-workout-card {
    margin: auto;
}

.delete-button {
    width: 24px;
    height: 24px;
}

.list-group-item span {
    float: right;
}

/* .list-group-item button {
    margin-left: 5px;
    vertical-align: middle;
} */

.navbar-brand span{
    font-size: 32px;
}

.client-profile-workouts {
    padding: 10px 5px 10px 5px !important;
}